.carousel{
    height: 80vh;
    width: 70vh;
    cursor: pointer;
}

.product_div{
    margin-top: 15px;
}

@media (min-width:280px) and (max-width:900px){

    .product_div{
        display: flex;
        flex-direction: column;
    }
    
}