body{
    background-image: url('https://img.freepik.com/free-vector/watercolor-world-chocolate-day-background-with-chocolate-sweets_23-2149441175.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    background-color: rgb(244, 234, 221);
}